<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Policy Analyser</title>
    <meta
      name="description"
      content="Policy Analyser is a powerful tool for analyzing policy documents."
    />
    <link rel="canonical" href="https://www.policy.fintegrationai.com/" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
  </head>
  <body>
    <!-- navbar -->
    <div
      class="w-full h-10 border-b flex items-center justify-between px-8 py-8"
    >
      <a href="/policy"
        ><h1 class="text-xl font-semibold text-cyan-600">Policy Analyser</h1></a
      >
      <a href="/upload">
        <div
          class="w-fit py-2 px-3 bg-white border border-cyan-600 text-cyan-600 hover:border-cyan-700 hover:text-cyan-700 text-sm rounded-lg font-semibold"
        >
          Get started
        </div>
      </a>
    </div>

    <!-- header -->
    <div
      class="w-full h-fit bg-contain bg-center bg-white flex flex-col items-center gap-10 lg:p-24 lg:py-16 px-10 py-16"
      style="background-image: url(../static/Vector.png)"
      ;
    >
      <div class="w-full h-fit flex lg:flex-row flex-col gap-12 lg:gap-0">
        <!-- report -->
        <div class="w-full lg:w-8/12 flex flex-col items-center gap-10">
          <!-- header -->
          <div class="w-5/6 flex justify-start items-start">
            <h1 class="text-3xl font-semibold text-zinc-800 text-center">
              Your untangled document
            </h1>
          </div>

          <!-- summary div -->
          <div
            class="w-full lg:w-5/6 h-fit bg-white border border-stone-300 rounded-lg text-zinc-800 shadow-sm"
          >
            <div
              class="w-full h-fit rounded-tr-lg rounded-tl-lg px-5 pt-6 flex items-center justify-start gap-3"
            >
              <img src="../static/summary-cyan.png" alt="" class="h-6" />
              <h1 class="text-2xl font-semibold text-cyan-600">Summary</h1>
            </div>
            <div
              class="p-6 pt-4 bg-white rounded-br-lg rounded-bl-lg text-zinc-800"
            >
              {% if summary_response %} {{ summary_response }} {% else %}
              <p>No response was generated :/</p>
              {% endif %}
            </div>
          </div>

          <!-- clauses div -->
          <div
            class="w-full lg:w-5/6 bg-white border border-stone-300 rounded-lg text-zinc-800 shadow-sm"
          >
            <div
              class="w-full h-fit rounded-tr-lg rounded-tl-lg px-4 pt-6 flex items-center justify-start gap-3"
            >
              <img src="../static/clauses cyan.png" alt="" class="h-6" />
              <h1 class="text-2xl font-semibold text-cyan-600">
                Intended audiences
              </h1>
            </div>
            <div
              class="ps-6 pe-4 py-6 pt-4 bg-white rounded-br-lg rounded-bl-lg text-zinc-800"
            >
              {% if intended_audience_response %}
              <ul>
                {% for item in intended_audience_response %}
                <li class="mb-5 ms-3 list-disc">{{ item }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>No response was generated :/</p>
              {% endif %}
            </div>
          </div>

          <!-- clauses div -->
          <div
            class="w-full lg:w-5/6 bg-white border border-stone-300 rounded-lg text-zinc-800 shadow-sm"
          >
            <div
              class="w-full h-fit rounded-tr-lg rounded-tl-lg px-4 pt-6 flex items-center justify-start gap-3"
            >
              <img src="../static/flag cyan.png" alt="" class="h-5" />
              <h1 class="text-2xl font-semibold text-cyan-600">Key clauses</h1>
            </div>
            <div
              class="ps-6 pe-4 py-6 pt-4 bg-white rounded-br-lg rounded-bl-lg text-zinc-800"
            >
              {% if key_clauses_response %}
              <ul>
                {% for item in key_clauses_response %}
                <li class="mb-5 ms-3 list-disc">{{ item }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>No response was generated :/</p>
              {% endif %}
            </div>
          </div>

          <!-- items div -->
          <div
            class="w-full lg:w-5/6 bg-white border border-stone-300 rounded-lg text-zinc-800 shadow-sm"
          >
            <div
              class="w-full h-fit rounded-tr-lg rounded-tl-lg px-4 pt-6 flex items-center justify-start gap-3"
            >
              <img src="../static/action-cyan.png" alt="" class="h-5" />
              <h1 class="text-2xl font-semibold text-cyan-600">Action items</h1>
            </div>
            <div
              class="ps-6 pe-4 py-6 pt-4 bg-white rounded-br-lg rounded-bl-lg text-zinc-800"
            >
              {% if items_response %}
              <ul>
                {% for item in items_response %}
                <li class="mb-5 ms-3 list-disc">{{ item }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>No response was generated :/</p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- chatbot -->
        <div class="lg:w-4/12 w-full max-h-full">
          <div
            class="w-full chat-window bg-stone-100 rounded-xl flex flex-col justify-between border sticky top-20"
          >
            <!-- header -->
            <div class="p-8 w-full h-fit rounded-tr-xl rounded-tl-xl">
              <h1 class="font-semibold text-2xl text-cyan-800">
                Chat with your document
              </h1>
            </div>

            <!-- chat -->
            <div
              class="w-full h-full px-6 flex flex-col justify-start overflow-y-auto"
              id="messageFormeight"
            ></div>

            <!-- input -->
            <div class="w-full h-fit p-6 rounded-br-xl rounded-bl-xl">
              <form id="messageArea" class="flex flex-row" method="POST">
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Type your message..."
                  autocomplete="off"
                  class="max-h-full w-full rounded-tl-2xl rounded-bl-2xl bg-white p-3 ps-6 border"
                  required
                />
                <div class="p-2 px-4 bg-cyan-600 rounded-tr-2xl rounded-br-2xl">
                  <button
                    type="submit"
                    id="send"
                    class="text-white text-2xl font-semibold"
                  >
                    →
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-full h-fit lg:py-4 py-8 px-10 bg-cyan-950 flex lg:flex-row flex-col lg:justify-between justify-center gap-2 items-center border-t border-zinc-600"
    >
      <p class="text-stone-300 font-medium">
        Policy Analyser by FintegrationAI, co-created by Jabroyd Innovation Labs
      </p>
      <!-- <div class="flex lg:flex-row flex-col justify-center items-center lg:gap-6 gap-2">
    <a href="/contact" class="text-stone-400 hover:text-stone-300">Contact us</a>
    <a href="/privacy" class="text-stone-400 hover:text-stone-300">Privacy policy</a>
    <a href="/terms" class="text-stone-400 hover:text-stone-300">Terms and conditions</a>
  </div> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        // Set CSRF token in AJAX request headers
        var csrfToken = "{{ csrf_token() }}";

        $.ajaxSetup({
          headers: {
            "X-CSRFToken": csrfToken,
          },
        });

        $("#messageArea").on("submit", function (event) {
          event.preventDefault();
          var rawText = $("#text").val();

          var userHtml = `
        <div class="flex justify-end mb-6">
          <div class="bg-cyan-600 text-white rounded-lg py-2 px-4 max-w-md">
            ${rawText}
          </div>
          <div class="ml-2">
            <img src="../static/user-avatar.png" class="border w-10 h-10 rounded-full">
          </div>
        </div>
      `;

          $("#text").val("");
          $("#messageFormeight").append(userHtml);

          // Scroll to the bottom of the chat window after posting a message
          $("#messageFormeight").scrollTop(
            $("#messageFormeight")[0].scrollHeight
          );

          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: "/analysis_policy",
          })
            .done(function (data) {
              console.log("DEBUG: Received response:", data);
              var botHtml = `
          <div class="flex justify-start mb-6 transition-opacity duration-500">
            <div class="mr-2 w-11">
              <img src="../static/bot-avatar.png" class="border w-10 h-10 rounded-full">
            </div>
            <div class="bg-stone-200 rounded-lg py-2 px-4 w-fit">
              ${data}
            </div>
          </div>
        `;
              $("#messageFormeight").append($.parseHTML(botHtml));
              $("#messageFormeight").scrollTop(
                $("#messageFormeight")[0].scrollHeight
              );
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
              console.error("AJAX request failed:", textStatus, errorThrown);
              console.log("Response text:", jqXHR.responseText);
              alert(
                "An error occurred while processing your request. Please try again."
              );
            });
        });
      });
    </script>
    <script
      defer
      data-domain="analyser.fintegrationai.com"
      src="https://plausible.io/js/script.js"
    ></script>
  </body>
</html>
